.weather-data .current-conditions {
	height: 90px;
	margin-top: 50px;
	transition: color 0.5s ease;

	.left, .right {
		float: left;
	}

	.left {
		width: 120px;
		font-size: 60px;
    text-align: center;
		line-height: 60px;
	}

	.right {
		width: calc(100% - 120px);
    padding-right: 10px;

		h3 {
			margin: 0;
			padding: 0;
			font-weight: 400;
			line-height: 14px;
			font-size: 14px;
			letter-spacing: 0.75px;
			opacity: 0.65;
		}

		h1 {
			margin: 0;
			padding: 0;
	    font-weight: 300;
	    line-height: 28px;
			margin-top: 4px;
			font-size: 22px;
			letter-spacing: 1px;
		}
	}
}
