.forecast {
	width: 100%;

	.forecast-day {
		text-align: center;
		font-size: 14px;
		color: #FFF;
		font-weight: 300;

		.date {
			text-transform: uppercase;
			margin-top: 16px;
			font-size: 16px;

			span {
				opacity: 0.5;
			}
		}

		.icon {
			font-size: 28px;
			height: 50px;
			line-height: 50px;
		}

		.high-low {
			margin-bottom: 8px;

			span {
				margin: 0 4px;
				opacity: 0.5;
			}
		}

		.percent-rain {
			i.wi {
				font-size: 36px;
		    line-height: 0;
		    position: relative;
		    top: 8px;
				margin-right: 4px;
			}
		}
	}
}

.swiper-container {
	overflow: visible;
}

.swiper-pagination {
	bottom: 4px !important;
	z-index: 500;

	.swiper-pagination-bullet {
		background: rgba(255, 255, 255, 0.25) !important;
		transition: background 0.25s;
		opacity: 1;
		width: 6px;
    height: 6px;

		&.swiper-pagination-bullet-active {
			background: rgba(255, 255, 255, 0.75) !important;
			opacity: 1;
		}
	}
}
