.tab-set {
	width: 100%;
	height: 40px;

	.tab {
		width: calc(100% / 3);
		float: left;
		text-align: center;
		text-transform: uppercase;
		height: 40px;
		line-height: 40px;
		border-bottom: 3px solid transparent;
		cursor: pointer;

		&.selected {
			border-bottom: 3px solid rgba(0, 0, 0, 0.75);
			cursor: default;
			font-weight: 600;
		}
	}
}
