.clouds {
	.cloud {
		position: absolute;
		left: 0;
		z-index: 24;
		transform: translate3d(-100%, 0, 0);
		will-change: transform;

		path {
			transition: fill 0.25s ease;
		}
	}

	.cloud-1 {
	  top: 50px;
	  width: 200px;
	  height: 100px;
		opacity: 0.7;
		z-index: 25;
	}

	.cloud-2 {
	  top: 100px;
	  width: 300px;
	  height: 200px;
		opacity: 0.7;
		z-index: 26;
	}

	.cloud-3 {
	  top: 0;
	  width: 200px;
	  height: 100px;
		opacity: 0.6;
		z-index: 27;
	}

	.cloud-4 {
	  top: 0;
	  width: 200px;
	  height: 100px;
		opacity: 0.5;
		z-index: 28;
	}

	.cloud-5 {
	  top: -50px;
	  width: 400px;
	  height: 300px;
		opacity: 0.4;
		z-index: 29;
	}
}
