.lightning-wrapper {
	position: absolute;
	top: 0;
  right: 0;
	bottom: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	height: 100%;

	.lightning {
		position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
	}
}
