.moon-wrapper {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  position: absolute;
  left: calc(50% - 50px);
  transition: all 2s ease;
  z-index: 5;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  mix-blend-mode: luminosity;

  .moon {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}
