.rain-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  height: 480px;
  width: 280px;

  .rain {
    position: absolute;
    left: 0;
    top: 0;
    width: 280px;
    height: 480px;
    z-index: 15;
    transform: translate3d(0, 0, 0);

    &.back-row {
      z-index: 15;
      opacity: 0.35;
    }
  }

  .stem {
    width: 2px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  }

  .drop {
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
  }
}
