.sun-wrapper {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  position: absolute;
  left: calc(50% - 50px);
  transition: all 2s ease;

  .sun {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FFF;
    overflow: hidden;
    z-index: 5;
    transition: background-color 2s ease;
  }

  .sun-glow {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 5;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.85);
    transition: box-shadow 2s ease;
  }
}
