!.gitkeep
!.nvmrc
!build/icons
!build/img
!weather-bar-app.code-workspace
.DS_Store
.env
.env.dev
build/*
coverage
dist/electron/*
dist/web/*
node_modules/
npm-debug.log
npm-debug.log.*
static/db/*.db
thumbs.db
