$time-dawn-moon-dark-color: #3e393d;
$time-dawn-moon-color: #ced9e2;

/* DAWN */
.time-dawn {
  .fog {
    // background: url(../images/fog-night.png) center center repeat-x;
    background-size: cover;
  }
  .thunderstorm-wrapper {
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.5));
  }
  .sky {
    background: linear-gradient(to bottom, #28333e 0%, #6e5b5a 100%);
  }
  .snow-wrapper {
    background-color: rgba(255, 255, 255, 0.15);
    .snow {
      background:
      radial-gradient($time-dawn-moon-dark-color .1%, transparent .9%) -100px 0,
      radial-gradient($time-dawn-moon-dark-color .1%, transparent .6%) 200px 50px,
      radial-gradient($time-dawn-moon-dark-color .1%, transparent .8%) 500px 500px,
      radial-gradient($time-dawn-moon-dark-color .1%, transparent .5%) 400px 700px,
      radial-gradient($time-dawn-moon-dark-color .1%, transparent .5%) 800px 600px;
    }
  }
  .sun-wrapper {
    top: calc(50% + 160px);

    .sun-glow {
      box-shadow: 0px -70px 225px rgba(255, 255, 235, 0.95)
    }
  }
  path.svg-mountain-1 {
    fill: #11161b !important;
  }
  path.svg-mountain-2 {
    fill: #1a2129 !important;
  }
  path.svg-mountain-3 {
    fill: #26323c !important;
  }
  path.svg-mountain-4 {
    fill: #2d3845 !important;
  }
  path.svg-mountain-5 {
    fill: #3a4552 !important;
  }
  path.svg-trees {
    fill: #000000 !important;
  }

	.weather-data {
		color: #FFF;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.75)
	}

  .menu-toggle {
		span {
			background-color: #FFF;
		}
	}

  .cloud {
		path {
			fill: #2f2b2c;
		}
	}
}
