.time-dusk {
  .fog {
    background: url('~@/assets/images/fog-night.png') center center repeat-x;
    background-size: cover;
  }
	.moon-wrapper {
    display: none;
  }
	.thunderstorm-wrapper {
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.5));
  }
  .sky {
    background: linear-gradient(to bottom, #6a4d47 0%, #ffffd6 100%);
  }
  .snow-wrapper {
    background-color: rgba(255, 255, 255, 0.15);

    .snowflake {
      color: #6a4d47;
    }
  }
  .sun-wrapper {
    .sun {
      background: #ffffd6;
    }
    .sun-glow {
      box-shadow: 0 0 60px rgba(255, 224, 0, 0.45);
    }
  }
  path.svg-mountain-1 {
    fill: #3c231e !important;
  }
  path.svg-mountain-2 {
    fill: #6a4d47 !important;
  }
  path.svg-mountain-3 {
    fill: #7b5852 !important;
  }
  path.svg-mountain-4 {
    fill: #936861 !important;
  }
  path.svg-mountain-5 {
    fill: #b57b6b !important;
  }
  path.svg-trees {
    fill: #080908 !important;
  }

	.weather-data {
		color: #3c231e;
    text-shadow: none;
	}

	.cloud {
		path {
			fill: #c1b49d;
		}
	}

	&.thunderstorm {
		.weather-data {
			color: #fff;
	    text-shadow: 0 0 4px rgba(0, 0, 0, 0.75)
		}
	}
}
