.time-early-morning {
  .fog {
    background: url('~@/assets/images/fog-night.png') center center repeat-x;
    background-size: cover;
  }
  .thunderstorm-wrapper {
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.5));
  }
  .sun-wrapper {
    display: none;
  }
  .sky {
    background: linear-gradient(to bottom, #7f605b 0%, #ad7e6c 100%);
  }
  .snow-wrapper {
    background-color: rgba(255, 255, 255, 0.15);

    .snowflake {
      color: #75574d;
    }
  }

  path.svg-trees {
    fill: #070b0b !important;
  }
  path.svg-mountain-1 {
    fill: #332727 !important;
  }
  path.svg-mountain-2 {
    fill: #4e4446 !important;
  }
  path.svg-mountain-3 {
    fill: #584b4b !important;
  }
  path.svg-mountain-4 {
    fill: #6b5656 !important;
  }
  path.svg-mountain-5 {
    fill: #645456 !important;
  }

  .weather-data {
		color: #FFF;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.75)
	}
  .cloud {
		path {
			fill: #795c4f;
		}
	}
}
