$time-early-morning-moon-dark-color: #75574d;
$time-early-morning-moon-color: #ced9e2;

.time-early-morning {
  .fog {
    // background: url(../images/fog-night.png) center center repeat-x;
    background-size: cover;
  }
  .thunderstorm-wrapper {
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.5));
  }
  .moon {
    &:before {
      background: $time-early-morning-moon-dark-color;
      box-shadow: inset -10px 0 15px 0 $time-early-morning-moon-color;
    }
    &:after {
      background: $time-early-morning-moon-color;
    }

    /* NEW MOON */
    &.moon-new-moon:before {
      background: $time-early-morning-moon-color;
    }
    &.moon-new-moon:after {
      background: $time-early-morning-moon-dark-color;
    }

    /* WAXING CRESCENT */
    &.moon-waxing-crescent:before {
      background: $time-early-morning-moon-dark-color;
      box-shadow: inset 35px 0 15px 0 $time-early-morning-moon-color;
    }
    &.moon-waxing-crescent:after {
      background: $time-early-morning-moon-color;
      box-shadow: inset 0px 0 15px 0 $time-early-morning-moon-dark-color;
    }

    /* FIRST QUARTER */
    &.moon-first-quarter:before {
      background: $time-early-morning-moon-color;
      box-shadow: inset 55px 0 15px 0 $time-early-morning-moon-dark-color;
    }
    &.moon-first-quarter:after {
      background: $time-early-morning-moon-color;
      box-shadow: inset 0px 0 15px 0 $time-early-morning-moon-dark-color;
    }

    /* WAXING GIBBOUS */
    &.moon-waxing-gibbous:before {
      background: $time-early-morning-moon-color;
      box-shadow: inset 35px 0 15px 0 $time-early-morning-moon-dark-color;
    }
    &.moon-waxing-gibbous:after {
      background: $time-early-morning-moon-dark-color;
      box-shadow: inset 0px 0 15px 0 $time-early-morning-moon-color;
    }

    /* FULL MOON */
    &.moon-full-moon:before {
      background: $time-early-morning-moon-color;
    }
    &.moon-full-moon:after {
      background: $time-early-morning-moon-color;
      box-shadow: inset 0 0 15px 0 $time-early-morning-moon-color;
    }

    /* WANING GIBBOUS */
    &.moon-waning-gibbous:before {
      background: $time-early-morning-moon-color;
      box-shadow: inset 35px 0 15px 0 $time-early-morning-moon-dark-color;
    }
    &.moon-waning-gibbous:after {
      background: $time-early-morning-moon-dark-color;
      box-shadow: inset 0px 0 15px 0 $time-early-morning-moon-color;
    }

    /* LAST QUARTER */
    &.moon-last-quarter:before {
      background: $time-early-morning-moon-color;
      box-shadow: inset 55px 0 15px 0 $time-early-morning-moon-dark-color;
    }
    &.moon-last-quarter:after {
      background: $time-early-morning-moon-color;
      box-shadow: inset 0px 0 15px 0 $time-early-morning-moon-dark-color;
    }

    /* WANING CRESCENT */
    &.moon-waning-crescent:before {
      background: $time-early-morning-moon-dark-color;
      box-shadow: inset 35px 0 15px 0 $time-early-morning-moon-color;
    }
    &.moon-waning-crescent:after {
      background: $time-early-morning-moon-color;
      box-shadow: inset 0px 0 15px 0 $time-early-morning-moon-dark-color;
    }
  }
  .moon-wrapper {
    top: -100px;
  }
  .sky {
    background: linear-gradient(to bottom, #7f605b 0%, #ad7e6c 100%);
  }
  .snow-wrapper {
    background-color: rgba(255, 255, 255, 0.15);
    .snow {
      background:
      radial-gradient($time-early-morning-moon-dark-color .1%, transparent .9%) -100px 0,
      radial-gradient($time-early-morning-moon-dark-color .1%, transparent .6%) 200px 50px,
      radial-gradient($time-early-morning-moon-dark-color .1%, transparent .8%) 500px 500px,
      radial-gradient($time-early-morning-moon-dark-color .1%, transparent .5%) 400px 700px,
      radial-gradient($time-early-morning-moon-dark-color .1%, transparent .5%) 800px 600px;
    }
  }
  .sun-wrapper {
    top: calc(50% + 150px);

    .sun-glow {
      box-shadow: 0px -70px 225px rgba(255, 255, 235, 0.95)
    }
  }
  path.svg-trees {
    fill: #070b0b !important;
  }
  path.svg-mountain-1 {
    fill: #332727 !important;
  }
  path.svg-mountain-2 {
    fill: #4e4446 !important;
  }
  path.svg-mountain-3 {
    fill: #584b4b !important;
  }
  path.svg-mountain-4 {
    fill: #6b5656 !important;
  }
  path.svg-mountain-5 {
    fill: #645456 !important;
  }

  .weather-data {
		color: #FFF;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.75)
	}
  .menu-toggle {
		span {
			background-color: #FFF;
		}
	}
  .cloud {
		path {
			fill: #795c4f;
		}
	}
}
