@keyframes blink-large {
	0% {
		box-shadow: $bxshadow-large;
	}
	70% {
		$colors: '#fff', 'transparent';
		$stars: $bxshadow-large;
		@for $i from 1 to length($stars) {
			$star: set-nth(nth($stars, $i), 3, unquote(nth($colors, random(length($colors)))));
			$stars: set-nth($stars, $i, $star);
		}
		box-shadow: $stars;
	}
	100% {
		box-shadow: $bxshadow-large;
	}
}
@keyframes blink-medium {
	0% {
		box-shadow: $bxshadow-medium;
	}
	70% {
		$colors: '#fff', 'transparent';
		$stars: $bxshadow-medium;
		@for $i from 1 to length($stars) {
			$star: set-nth(nth($stars, $i), 3, unquote(nth($colors, random(length($colors)))));
			$stars: set-nth($stars, $i, $star);
		}
		box-shadow: $stars;
	}
	100% {
		box-shadow: $bxshadow-medium;
	}
}
@keyframes blink-small {
	0% {
		box-shadow: $bxshadow-small;
	}
	70% {
		$colors: '#fff', 'transparent';
		$stars: $bxshadow-small;
		@for $i from 1 to length($stars) {
			$star: set-nth(nth($stars, $i), 3, unquote(nth($colors, random(length($colors)))));
			$stars: set-nth($stars, $i, $star);
		}
		box-shadow: $stars;
	}
	100% {
		box-shadow: $bxshadow-small;
	}
}

@keyframes snow {
  0% {
    opacitiy: 0;
  }
  70% {
    opacitiy: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    background-position: 0 2000px;
    opacity: 0;
  }
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
  }
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move-fog {
  from { background-position: 0 0;}
  to { background-position: 1600px 0; }
}

@keyframes move-clouds {
  from { background-position: 0 0;}
  to { background-position: 1600px 0; }
}

@keyframes move-thunderstorm {
	from { transform: translateX(-100%); }
  to { transform: translateX(100%); }
}

@keyframes move-cloud {
  from { transform: translateX(-100%); }
  to { transform: translateX(200%); }
}
