@keyframes stars {
	0% {
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes snow {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    background-position: 0 2000px;
    opacity: 0;
  }
}

@keyframes drop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(0, 480px, 0);
  }
  100% {
    transform: translate3d(0, 480px, 0);
  }
}

@keyframes move-fog {
  from { background-position: 0 0;}
  to { background-position: 600px 0; }
}

@keyframes move-clouds {
  from { background-position: 0 0;}
  to { background-position: 1600px 0; }
}

@keyframes move-thunderstorm {
	from { transform: translate3d(-100%, 0, 0); }
  to { transform: translate3d(100%, 0, 0); }
}

@keyframes move-cloud {
  from { transform: translate3d(-100%, 0, 0); }
  to { transform: translate3d(200%, 0, 0); }
}
