@function box-shadow($stars) {
	$bxshadow: ();
	@for $i from 1 to $stars {
		$bxshadow: append($bxshadow, (random(2000) + 0px) (random(2000) + 0px) #fff, comma);
	}

	@if type-of($bxshadow) == string {
		$bxshadow: unquote($bxshadow);
	}

	@return $bxshadow;
}
