.scene.scene-9 {
  .mountain-1 svg {
    left: -45px;
  }
  .mountain-2 svg {
    left: -50px;
  }
  .mountain-3 svg {
    left: -60px;
  }
  .mountain-4 svg {
    left: -60px;
    bottom: -10px
  }
  .mountain-5 svg {
    left: 0;
    bottom: 0
  }
  .trees svg {
    left: 0;
  }
}
