.scene.scene-8 {
  .mountain-1 svg {
    left: -30px;
  }
  .mountain-2 svg {
    left: -65px;
    bottom: 0px;
  }
  .mountain-3 svg {
    left: -75px;
    bottom: -15px;
  }
  .mountain-4 svg {
    left: -100px;
    bottom: -10px;
  }
  .mountain-5 svg {
    left: -25px;
    bottom: -5px;
  }
  .trees svg {
    left: -50px;
    bottom: -20px;
  }
}
