.scene.scene-10 {
  .mountain-1 svg {
    left: -50px;
    bottom: 10px;
  }
  .mountain-2 svg {
    left: -40px;
  }
  .mountain-3 svg {
    left: -50px;
  }
  .mountain-4 svg {
    left: -20px;
    bottom: 5px;
  }
  .mountain-5 svg {
    left: -80px;
    bottom: 0px;
  }
  .trees svg {
    left: -25px;
  }
}
