.scene.scene-1 {
  .mountain-1 svg {
    left: -70px;
  }
  .mountain-2 svg {
    left: 0;
  }
  .mountain-3 svg {
    left: 0;
  }
  .mountain-4 svg {
    left: 0;
  }
  .mountain-5 svg {
    left: 0;
  }
  .trees svg {
    left: 0;
  }
}
