.scene.scene-3 {
  .mountain-1 svg {
    left: -70px;
  }
  .mountain-2 svg {
    left: -115px;
    bottom: -15px;
  }
  .mountain-3 svg {
    left: -25px;
    bottom: -20px;
  }
  .mountain-4 svg {
    left: -70px;
    bottom: -12px;
  }
  .mountain-5 svg {
    left: 0;
    bottom: -2px;
  }
  .trees svg {
    left: -100px;
    bottom: 0;
  }
}
