.scene.scene-5 {
  .mountain-1 svg {
    left: -90px;
    width: 600px;
    height: 140px;
  }
  .mountain-2 svg {
    left: 0;
    width: 600px;
    height: 149px;
    bottom: -30px;
  }
  .mountain-3 svg {
    left: -55px;
    width: 600px;
    height: 165px;
    bottom: -50px;
  }
  .mountain-4 svg {
    left: -50px;
    width: 600px;
    bottom: -12px;
  }
  .mountain-5 svg {
    left: -100px;
    width: 600px;
    bottom: 0;
  }
  .trees svg {
    left: 0;
    bottom: 0;
  }
}
