.scene.scene-7 {
  .mountain-1 svg {
    left: -250px;
    width: 800px;
    height: 170px;
  }
  .mountain-2 svg {
    left: -400px;
    width: 800px;
    height: 200px;
    bottom: -90px;
  }
  .mountain-3 svg {
    left: -500px;
    width: 800px;
    height: 220px;
    bottom: -1240px;
  }
  .mountain-4 svg {
    left: -300px;
    width: 800px;
    height: 229px;
    bottom: -114px;
  }
  .mountain-5 svg {
    left: -500px;
    width: 800px;
    height: 244px;
    bottom: -120px;
  }
  .trees svg {
    left: -500px;
    width: 800px;
    height: 164px;
    bottom: -25px;
  }
}
