.scene.scene-2 {
  .mountain-1 svg {
    left: 0;
  }
  .mountain-2 svg {
    left: -50px;
  }
  .mountain-3 svg {
    left: -100px;
  }
  .mountain-4 svg {
    left: -80px;
  }
  .mountain-5 svg {
    left: -20px;
  }
  .trees svg {
    left: -80px;
    bottom: 0;
  }
}
