.scene.scene-6 {
  .mountain-1 svg {
    left: -250px;
    width: 800px;
    height: 170px;
		bottom: 20px;
  }
  .mountain-2 svg {
    left: -200px;
    width: 800px;
    height: 200px;
    bottom: -70px;
  }
  .mountain-3 svg {
    left: -200px;
    width: 800px;
    height: 220px;
    bottom: -100px;
  }
  .mountain-4 svg {
    left: -50px;
    width: 800px;
    height: 229px;
    bottom: -100px;
  }
  .mountain-5 svg {
    left: -300px;
    width: 800px;
    height: 244px;
    bottom: -110px;
  }
  .trees svg {
    left: -100px;
    width: 800px;
    height: 164px;
    bottom: -25px;
  }
}
