.scene.scene-4 {
  .mountain-1 svg {
    left: -50px;
  }
  .mountain-2 svg {
    left: -40px;
  }
  .mountain-3 svg {
    left: -50px;
  }
  .mountain-4 svg {
    left: -60px;
  }
  .mountain-5 svg {
    left: -10px;
  }
  .trees svg {
    left: -100px;
  }
}
